# Variables d'environnement pour accéder à la bdd
DB_NAME="Nom de la base de données"
DB_USER="Nom d'utilisateur de la base de données"
DB_PASSWORD="Mot de passe de la base de données"
DB_PORT="Port de la base de données"
DB_HOST="L'hôte de la base de données""
DB_DIALECT="Le dialecte de la base de données""

PORT="Le port sur lequel tourne l'api"
RANDOM_TOKEN_SECRET="La clé secrète pour encoder le token de connexion à l'api"